Samuel Badman <samuel.badman@cfa.harvard.edu> sam.badman <sam.badman@ssl.berkeley.edu>
Samuel Badman <samuel.badman@cfa.harvard.edu> Samuel Badman <54911235+STBadman@users.noreply.github.com>
Samuel Badman <samuel.badman@cfa.harvard.edu> STBadman <samuel_badman@berkeley.edu>
Stuart Mumford <stuart@cadair.com> Cadair <1391051+Cadair@users.noreply.github.com>
Matthieu Ancellin <31126826+mancellin@users.noreply.github.com>
